Software/AutomaticAssigningSystem-Python/flows.json
[{"id":"f2c475f.e99a488","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4d105631.97ebd8","type":"mqtt in","z":"f2c475f.e99a488","name":"","topic":"Dilun/test","qos":"2","datatype":"auto","broker":"2dd39698.3b60fa","x":150,"y":160,"wires":[["44f73faf.42372"]]},{"id":"44f73faf.42372","type":"json","z":"f2c475f.e99a488","name":"","property":"payload","action":"","pretty":false,"x":310,"y":200,"wires":[["c2546c34.15812"]]},{"id":"b8f36c32.acaf1","type":"twilio out","z":"f2c475f.e99a488","twilio":"b96f2464.29ec98","twilioType":"sms","url":"","number":"+94763475089","name":"","x":630,"y":380,"wires":[]},{"id":"2c6fb5fe.67218a","type":"function","z":"f2c475f.e99a488","name":"","func":"var number = global.get(\"number\");\nmsg.payload = msg.payload.payload\nmsg.topic = number\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":120,"wires":[["b8f36c32.acaf1"]]},{"id":"c2546c34.15812","type":"change","z":"f2c475f.e99a488","name":"","rules":[{"t":"move","p":"payload.number","pt":"msg","to":"number","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":180,"wires":[["2c6fb5fe.67218a"]]},{"id":"2dd39698.3b60fa","type":"mqtt-broker","name":"","broker":"Broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b96f2464.29ec98","type":"twilio-api","name":"","sid":"AC37b882f99567b270d1b3e24e58b49db3","from":"+13862804411"}]